<main class="main-container">

    <h1 class="ff-secondary">Digital Store - Products</h1>

    <section class="productPage-container">
        <section class="productsForm-section">

            <form class="search-form__form" method="get">
                <input name="search" placeholder="Search" />

                <select name="filterValue">
                    <option value="">Select a category</option>
                    {{#each categories}}
                    <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <input type="hidden" name="filter" value="category">

                <input name="page" placeholder="Page" />
                <input name="sort" placeholder="Sort by typing 'asc' or 'desc'" />

                <button class="btn-success ff-secondary fs-3" type="submit">
                    Search
                </button>

            </form>
            <div class="pagination">
                {{#if result.hasPrevPage}}
                <a href="{{result.prevLink}}">
                    <h4>
                        << Previous </h4>
                </a>
                {{/if}}
                &nbsp;
                <h4>{{result.page}} of {{result.totalPages}}</h4>
                &nbsp;
                {{#if result.hasNextPage}}
                <a href="{{result.nextLink}}">
                    <h4> Next >></h4>
                </a>
                {{/if}}
            </div>

            <div>
                <img class="form-llama"
                    src="https://res.cloudinary.com/ferjen/image/upload/v1684735620/digital-store/llamas/Default_full_body_shot_of_a_cute_sly_llama_with_long_neck_a_mi_2_6bdb94b8-beb0-449e-888e-44af380145f8_0_pamxlo.png"
                    alt="llama" />
            </div>
        </section>


        <section class="products-section">


            <ul class="products-list">

                {{#each result.docs}}

                <li class='product-item' data-id='{{this._id}}'>
                    <img src="{{this.thumbnails.[0]}}" alt="Image of {{this.title}}" class='product-item__image' />

                    <div class='product-item__body'>
                        <p class='ff-secondary fs-2 ls-1'>{{this.title}}
                            <a href="/api/products/details/{{this._id}}">{{this.title}}</a>
                        </p>
                        <p>{{this.category}}</p>
                        <p>{{this.shortDescription}}</p>
                        <p>Price: {{this.price}}</p>
                    </div>

                    <div class='product-item__buttons'>
                        <a href="/product-details/{{this._id}}">
                            <button class='btn-info ff-secondary fs-2'>
                                + info
                            </button>
                        </a>
                        <button class='btn-success ff-secondary fs-2' onclick="addToCart('{{this._id}}')">
                            Add to cart
                        </button>
                    </div>

                </li>

                {{/each}}

            </ul>
            {{!-- {{#if isValid}} --}}
            {{!-- <div>
                {{#if result.hasPrevPage}}
                <a href="{{result.prevLink}}">
                    << Anterior</a>
                        {{/if}}
                        &nbsp;
                        {{result.page}}
                        &nbsp;
                        {{#if result.hasNextPage}}
                        <a href="{{result.nextLink}}">Siguiente >></a>
                        {{/if}}
            </div> --}}

            {{!-- {{else}}
            <h1>No hay productos con esos criterios de búsqueda</h1>
            {{/if}} --}}
        </section>
    </section>

</main>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>