<main class="main-container">

    <h1 class="ff-secondary">Digital Store</h1>

    <section class="productPage-container">
        <section class="productsForm-section">

            <form class="form-section" action="/api/products" method="post">
                <input name="title" placeholder="Title" required />
                <select name="category" required>
                    <option value="">
                        Select a category
                    </option>
                    {{#each categories}}
                    <option value="{{this}}">
                        {{this}}
                    </option>
                    {{/each}}
                </select>
                <input name="code" placeholder="Code" required />
                <input name="demoUrl" placeholder="Demo URL" required />
                <input name="shortDescription" placeholder="Short Description" required />
                <input name="description" placeholder="Description" required />
                <input name="thumbnails" placeholder="Thumbnails" required />
                <input name="techStack" placeholder="Tech Stack" required />
                <input name="stock" placeholder="Stock" required />
                <input name="price" placeholder="Price" required />

                <button class="btn-success ff-secondary fs-3" type="submit">
                    {{#if selectedProduct}}
                    Update
                    {{else}}
                    Create
                    {{/if}}
                </button>

            </form>

            <div>
                <img class="form-llama"
                    src="https://res.cloudinary.com/ferjen/image/upload/v1684735620/digital-store/llamas/Default_full_body_shot_of_a_cute_sly_llama_with_long_neck_a_mi_2_6bdb94b8-beb0-449e-888e-44af380145f8_0_pamxlo.png"
                    alt="llama" />
            </div>
        </section>


        <section class="products-section">

            <button class="btn-delete ff-secondary fs-3">
                Show All Products
            </button>

            <ul class="products-list">

                {{#each products}}

                <li class='product-item' data-id='{{this.id}}'>
                    <img src="{{this.thumbnails.[0]}}" alt="Image of {{this.title}}" class='product-item__image' />

                    <div class='product-item__body'>
                        <p class='ff-secondary fs-2 ls-1'>{{this.title}}</p>
                        <p>{{this.category}}</p>
                        <p>{{this.shortDescription}}</p>
                        <p>Price: {{this.price}}</p>
                    </div>

                    <div class='product-item__buttons'>
                        <button class='btn-edit ff-secondary fs-2'>
                            Edit
                        </button>
                        <button class='btn-delete ff-secondary fs-2'>
                            Delete
                        </button>
                    </div>

                </li>

                {{/each}}

            </ul>

        </section>
    </section>

</main>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    document.querySelector( '.form-section' ).addEventListener( 'submit', ( event ) => {
        event.preventDefault();

        try {
            const product = {
                title: event.target.elements.title.value,
                category: event.target.elements.category.value,
                code: event.target.elements.code.value,
                demoUrl: event.target.elements.demoUrl.value,
                shortDescription: event.target.elements.shortDescription.value,
                description: event.target.elements.description.value,
                thumbnails: [ event.target.elements.thumbnails.value ],
                techStack: event.target.elements.techStack.value,
                stock: event.target.elements.stock.value,
                price: event.target.elements.price.value,
            };

            // Emit a 'new-product'
            socket.emit( 'new-product', product );

        } catch ( error ) {
            console.error( error );

        } finally {
            // Reset your form here
            form.reset();
        };

    } );

    socket.on( 'update-products', ( products ) => {

        const productList = document.querySelector( '.products-list' );
        productList.innerHTML = '';

        products.forEach( product => {

            productList.innerHTML += `

                <li class='product-item' data-id='${product.id}'>
                    <img src='${product.thumbnails[ 0 ]}' alt='Image of ${product.title}' class='product-item__image' />
                    <div class='product-item__body'>
                        <p class='ff-secondary fs-2 ls-1'>${product.title}</p>
                        <p>${product.category}</p>
                        <p>${product.shortDescription}</p>
                        <p>Price: ${product.price}</p>
                    </div>
                    <div class='product-item__buttons'>
                        <button class='btn-edit ff-secondary fs-2'>Edit</button>
                        <button class='btn-delete ff-secondary fs-2'>Delete</button>
                    </div>
                </li>
            `;

        } );

    } );

</script>